@import "url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,800)"

blue = #21a1e1

body
	padding 100px
	font-family 'Open Sans', sans-serif
	
input
	background none
	border solid 2px blue
	color #21a1e1
	padding 15px 40px
	font-size 18px
	display inline-block
	
	&:focus,
	&:active
		outline none
		
	&[type="text"],
	&[type="email"]
		border none
		border-bottom 2px solid blue
	
	&[type="submit"]
		cursor pointer
		&:active
			color white
			background blue
			

.input-group
	display inline-block
	margin-right 20px
	position relative
	
	input 
		padding 15px 0
		
	label
		position absolute
		top 50%
		transform(translateY(-50%))
		font-family Georgia, Cambira, Times, serif
		font-style italic
		font-size 18px
		color #999
		// deja de ser clickeable o seleccionable
		pointer-events none
		transition()
		
	input:focus + label,
	input.has-value + label
		top -10px
		font-size 12px
		color #aaa


